.productCard {
  border-radius: 6px;
  border: 1px solid #f1f3f3;
  background-color: white;
  margin-right: 20px;
}

.productDetails {
  padding: 20px;
}

.imageContainer {
  position: relative;
}

.timerContainer {
  position: absolute;
  right: 8px;
  top: 12px;
}

.discountBadge {
  position: absolute;
  right: 9px;
  top: 184px;
  background-color: #fdca40;
  border-radius: 8px;
  width: 73px;
  height: 59px;
  text-align: center;
}

.discountText {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 0;
}

.discountPercentage {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}

.cost {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.discountedPrice {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-decoration-line: line-through;
  color: gray;
  padding-right: 12px;
}

.listPrice {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
}

.colors {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: gray;
}
