.timer {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  background-color: darkblue;
  justify-content: space-evenly;
  align-items: center;
  color: #fdca40;
  padding: 8px 17px;
  font-weight: 500;
  font-size: 14px;
}

.remainingTime {
  margin-right: 9px;
}
