.timer {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  background-color: darkblue;
  justify-content: space-evenly;
  align-items: center;
  width: 113px;
  height: 28px;
  color: #fdca40;
}

.remainingTime {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
