.cards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 80px;
}
.productCard {
  flex: 0 0 auto;
  margin-right: 18px;
}

.cards::-webkit-scrollbar {
  display: none;
}
