.navbar {
  display: flex;
  flex-direction: row;
  height: 76px;
  padding: 0 75px;
  background-color: white;
  justify-content: space-between;
}

.links{
  display: flex;
  justify-content: flex-end;
}
