.occupancyStatus {
  display: flex;
  flex-direction: row;
}

.peopleImage {
  margin-right: 9px;
}

.suscriptorStatus {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: gray;
}

.occupancyPercentage {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: orangered;
  padding-right: 8px;
}
