@import "../../styles/media-queries.scss";

.banner {
  padding: 41px 68px 0px 68px;
  position: relative;
  background-color: white;
  background-image: url("../../assets/images/grey-wave.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;

  & > ul {
    & > li {
      display: flex;
    }
  }

  & > h1 {
    font-style: normal;
    font-weight: normal;
    color: #3561d1;
    font-size: 45px;
    margin: 0;
  }

  & > h2 {
    color: #5c6163;
    font-size: 24px;
    margin: 0;
    margin-top: 10px;
  }
}

.iconList {
  height: 68px;
  width: auto;
  margin-right: 20px;
}

.featuresList {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #5c6163;
  margin-top: 110px;
  flex-wrap: wrap;
}

@include for-phone-only {
  .banner {
    padding: 21px 29px;
    background-image: url("../../assets/images/grey-wave-only.svg");
    background-color: #f7f8fa;
    & > h1 {
      font-style: normal;
      font-weight: normal;
      color: #3561d1;
      font-size: 21px;
      margin: 0;
    }
    & > h2 {
      display: none;
    }
  }

  .featuresList {
    display: none;
  }

  .smallIconList {
    height: 16px;
    width: 18px;
    display: flex;

    & > ul {
      list-style-type: none;
      & > li {
        display: flex;
      }
    }
  }
}

@include for-tablet-up {
  .smallFeaturesList {
    display: none;
  }
}
